main {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
}

.header img {
    flex-basis: 250px;
    max-height: 242px;
    min-width: 250px;
}

.header .title-nav {
    margin-left: 2rem;
}

.header .title-nav h1 {
    font-size: 72pt;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    line-height: 5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    color: #112433;
}

.navigation {
    color: #112433;
    font-family: Arial, Helvetica, sans-serif;
}

.navigation ul {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    font-size: 14pt;
    text-transform: uppercase;
}

.navigation ul li {
    margin-right: 5rem;
}