<main class="container">
    <div class="header">
        <img src="assets/img/logo.png" alt="logo">
        <!-- TODO: MEJORAR! -->
        <div class="title-nav">
            <h1>
                <span>Web</span>
                <span>Design</span>
                <span>Blog</span>
            </h1>
            <nav class="navigation">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </nav>
        </div>
    </div>

</main>