.post-container {
    display: flex;
    flex-direction: column;
    color: #112433;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
}

.post-article {
    display: flex;
    padding-top: 1rem;
}

.post-thumbs {
    display: flex;
    flex-basis: 250px;
    min-width: 250px;
    justify-content: flex-end;
    margin-top: 3.7rem;
}

.post-thumbs-number {
    display: flex;
    align-items: center;
    height: 32px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.post-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 2rem;
}

.post-header {
    font-size: 16pt;
    font-style: italic;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.post p {
    margin-bottom: 1rem;
}

.post-tags {
    padding-bottom: 1rem;
}

.post-tags ul {
    display: flex;
    margin-top: 1rem;
    color: #80878c
}

.post-tags ul li {
    margin-right: 2rem;
}

.dark {
    background-color: #7a3052;
    margin-left: 0px;
    color:#e2e9ed;
}