<section class="post-container">
    <article class="post-article container">
        <div class="post-thumbs">
            <a href="#">
                <img src="assets/img/thumb-up-dark.png" alt="Thumbs up">
            </a>
            <span class="post-thumbs-number">0</span>
            <a href="#">
                <img src="assets/img/thumb-down-dark.png" alt="Thumbs down">
            </a>
        </div>
        <div class="post-content">
            <h2 class="post-header">Heading One</h2>
            <div class="post">
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique tempora nulla mollitia eius,
                    nesciunt enim maiores. Culpa fugiat harum aut, consectetur officia deserunt excepturi vero earum
                    adipisci minus alias error. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum quas
                    vero
                    at magni, sit ipsam impedit tenetur totam maiores dignissimos sunt molestias ad iure expedita porro
                    sapiente debitis cumque ratione! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem
                    labore voluptas, iusto expedita facere rerum magni necessitatibus perferendis sit! Incidunt fugit
                    reiciendis numquam tenetur omnis culpa dolorum labore enim necessitatibus!
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed cumque ex in beatae rerum
                    exercitationem
                    ratione officia quidem maxime deserunt? Iusto repudiandae maxime similique dicta explicabo laborum
                    fugiat, enim hic! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum hic sit, eaque
                    tempora facere ipsum culpa quasi corrupti cupiditate nulla labore optio ipsam aut, incidunt quisquam
                    veniam ex aliquam accusantium? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure ipsam,
                    nostrum officia aperiam est ipsa nam quasi architecto minima quis quos beatae ut! Soluta incidunt
                    consequatur voluptates impedit dolores aliquam!
                </p>
            </div>
            <div class="post-tags">
                <ul>
                    <li><a href="#">#tag1</a></li>
                    <li><a href="#">#tag2</a></li>
                    <li><a href="#">#tag3</a></li>
                </ul>
            </div>
        </div>
    </article>
    <article class="post-article dark container">
        <div class="post-thumbs">
            <a href="#">
                <img src="assets/img/thumb-up-light.png" alt="Thumbs up">
            </a>
            <span class="post-thumbs-number">0</span>
            <a href="#">
                <img src="assets/img/thumb-down-light.png" alt="Thumbs down">
            </a>
        </div>
        <div class="post-content">
            <h2 class="post-header">Heading One</h2>
            <div class="post">
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique tempora nulla mollitia eius,
                    nesciunt enim maiores. Culpa fugiat harum aut, consectetur officia deserunt excepturi vero earum
                    adipisci minus alias error. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum quas
                    vero
                    at magni, sit ipsam impedit tenetur totam maiores dignissimos sunt molestias ad iure expedita porro
                    sapiente debitis cumque ratione! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem
                    labore voluptas, iusto expedita facere rerum magni necessitatibus perferendis sit! Incidunt fugit
                    reiciendis numquam tenetur omnis culpa dolorum labore enim necessitatibus!
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed cumque ex in beatae rerum
                    exercitationem
                    ratione officia quidem maxime deserunt? Iusto repudiandae maxime similique dicta explicabo laborum
                    fugiat, enim hic! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum hic sit, eaque
                    tempora facere ipsum culpa quasi corrupti cupiditate nulla labore optio ipsam aut, incidunt quisquam
                    veniam ex aliquam accusantium? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure ipsam,
                    nostrum officia aperiam est ipsa nam quasi architecto minima quis quos beatae ut! Soluta incidunt
                    consequatur voluptates impedit dolores aliquam!
                </p>
            </div>
            <div class="post-tags">
                <ul>
                    <li><a href="#">#tag1</a></li>
                    <li><a href="#">#tag2</a></li>
                    <li><a href="#">#tag3</a></li>
                </ul>
            </div>
        </div>
    </article>
</section>